<form action="/" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

{{# }}

{{/ }}

{{^ }}
<p>Your login username and/or password are not correct</p>
{{/ }}
